.homepage {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #f7f7f7;
}

.title {
  font-size: 36px;
  color: #7e37ca;
  margin-bottom: 20px;
  font-weight: bold;
}
.card-score {
  font-size: 16px;
  font-weight: bold;
  color: #4caf50; /* Example color for score */
}


.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.card {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 250px;
  padding: 20px;
  text-align: center;
  transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.card-icon {
  font-size: 50px;
  color: #8d58c5;
  margin-bottom: 10px;
}

.card-title {
  font-size: 18px;
  color: #333333;
  margin-bottom: 20px;
}

.card-button {
  background-color: #8b6daa;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.card-button:hover {
  background-color:#800080 ;
}
